pkgbase = dwarfs
	pkgdesc = A fast high compression read-only file system
	pkgver = 0.14.0
	pkgrel = 1
	url = https://github.com/mhx/dwarfs
	arch = x86_64
	license = GPL3 AND MIT
	makedepends = cmake
	makedepends = boost
	makedepends = libevent
	makedepends = libdwarf
	makedepends = chrono-date
	makedepends = utf8cpp
	makedepends = range-v3
	makedepends = git
	makedepends = gtest
	makedepends = nlohmann-json
	depends = fuse3
	depends = openssl
	depends = boost-libs
	depends = jemalloc
	depends = xxhash
	depends = fmt
	depends = lz4
	depends = xz
	depends = zstd
	depends = brotli
	depends = libarchive
	depends = flac
	depends = libunwind
	depends = google-glog
	depends = fmt
	depends = gflags
	depends = double-conversion
	source = dwarfs-0.14.0.tar.xz::https://github.com/mhx/dwarfs/releases/download/v0.14.0/dwarfs-0.14.0.tar.xz
	source = boost-system.patch
	cksums = 3695517307
	cksums = 1216288171
	sha256sums = 514b851af356102abca9103dd12c92a31fad6d2f705c4cfaff4e815b5753250f
	sha256sums = 6b177a988b65a5c544ad90e4d1861bee1353a63fe368a7d8c956011625292b1a
	b2sums = 84dcbb80ca8bd779b238dd9f91963a543b8608e308d93cbb58b0ff64c51f50abef0ee42e520af20741aab7363ef2e144c0f8512bbfe38e4445ebbb4599782e11
	b2sums = f401f94cb04a64120080d915733313fff72ffe1be6bdbe8cbb8ee33dc8c21f75ff60183176b1e5f06c92cdc9f8d656100fdba59b465aecd35f4e232b3b8d99b5

pkgname = dwarfs
