pkgbase = dwarfs
	pkgdesc = A fast high compression read-only file system
	pkgver = 0.9.6
	pkgrel = 1
	url = https://github.com/mhx/dwarfs
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = ruby-ronn
	makedepends = boost
	makedepends = libevent
	makedepends = libdwarf
	makedepends = utf8cpp
	makedepends = chrono-date
	makedepends = range-v3
	depends = acl
	depends = libarchive
	depends = boost-libs
	depends = brotli
	depends = bzip2
	depends = openssl
	depends = glibc
	depends = double-conversion
	depends = expat
	depends = flac
	depends = fmt
	depends = fuse3
	depends = gcc-libs
	depends = gflags
	depends = google-glog
	depends = jemalloc
	depends = lz4
	depends = xz
	depends = glibc
	depends = libogg
	depends = glibc
	depends = gcc-libs
	depends = libunwind
	depends = xxhash
	depends = zlib
	depends = zstd
	source = dwarfs-0.9.6.tar.xz::https://github.com/mhx/dwarfs/releases/download/v0.9.6/dwarfs-0.9.6.tar.xz
	cksums = 2563943164
	sha256sums = 62568927b086b26abe8e812cc7484f9686b509fec83248619ec60b5e4cfa752e
	b2sums = 305587de0e31390f4d3c2701cc1b0fe9f29d2a37a363f575ae770c0037d69b77685bd593f900c71e4e9fe8dbfdf4644f1ea3158f9fdc3596583eda89d0040e88

pkgname = dwarfs
