pkgbase = dwarfs
	pkgdesc = A fast high compression read-only file system
	pkgver = 0.9.7
	pkgrel = 1
	url = https://github.com/mhx/dwarfs
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = ruby-ronn
	makedepends = boost
	makedepends = libevent
	makedepends = libdwarf
	makedepends = utf8cpp
	makedepends = chrono-date
	makedepends = range-v3
	depends = acl
	depends = libarchive
	depends = boost-libs
	depends = brotli
	depends = bzip2
	depends = openssl
	depends = glibc
	depends = double-conversion
	depends = expat
	depends = flac
	depends = fmt
	depends = fuse3
	depends = gcc-libs
	depends = gflags
	depends = google-glog
	depends = jemalloc
	depends = lz4
	depends = xz
	depends = glibc
	depends = libogg
	depends = glibc
	depends = gcc-libs
	depends = libunwind
	depends = xxhash
	depends = zlib
	depends = zstd
	source = dwarfs-0.9.7.tar.xz::https://github.com/mhx/dwarfs/releases/download/v0.9.7/dwarfs-0.9.7.tar.xz
	cksums = 3839448772
	sha256sums = d69b911b9b660e5328875a9d0bc2fb1debbfd64e2db2d1cd1560c9f9b8c4ae77
	b2sums = 515e1a4541991914ef0ba50cff077805fb91fa4e02b140284aaf9a90e02bfe09e9e4ff7e5e9a149ccab262da41f2c48b9f269d26a4ce8d6c43676eb3ddf977cb

pkgname = dwarfs
