pkgbase = jc141-vulkan
	pkgver = 23.07.11
	pkgrel = 1
	url = https://github.com/jc141x/vulkan
	arch = x86_64
	license = GPL-3
	depends = vulkan-icd-loader
	source = vulkan-23.07.11.tar.xz::https://github.com/jc141x/vulkan/releases/download/23.07.11/vulkan.tar.xz
	sha256sums = 01ad6c062c140e05e6a9b039fb32ce6c2a13aa1c8ee18499a3687789f8eaaa80

pkgname = jc141-vulkan
